 .u-section-1 {
  background-image: none;
  min-height: 1874px;
}

.u-section-1 .u-image-1 {
  height: 177px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 70px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-1 .u-image-2 {
  width: 435px;
  height: 435px;
  margin: -104px 0 0 auto;
}

.u-section-1 .u-form-1 {
  height: 1156px;
  margin-top: -331px;
  margin-bottom: 0;
  margin-left: calc(((100% - 1140px) / 2) + -25px);
  width: 810px;
}

.u-section-1 .u-form-group-1 {
  width: 100%;
}

.u-section-1 .u-label-1 {
  font-weight: 700;
}

.u-section-1 .u-label-2 {
  font-weight: 700;
}

.u-section-1 .u-label-3 {
  font-weight: 700;
}

.u-section-1 .u-form-group-2 {
  width: 100%;
}

.u-section-1 .u-label-4 {
  font-size: 1.125rem;
  font-weight: 700;
}

.u-section-1 .u-form-group-3 {
  width: 100%;
}

.u-section-1 .u-label-5 {
  font-size: 1.125rem;
  font-weight: 700;
}

.u-section-1 .u-form-group-4 {
  width: 100%;
}

.u-section-1 .u-label-6 {
  font-size: 1.125rem;
  font-weight: 700;
}

.u-section-1 .u-form-group-5 {
  width: 100%;
}

.u-section-1 .u-label-7 {
  font-size: 1.125rem;
  font-weight: 700;
}

.u-section-1 .u-form-group-6 {
  width: 100%;
}

.u-section-1 .u-label-8 {
  font-size: 1.125rem;
  font-weight: 700;
}

.u-section-1 .u-form-group-7 {
  width: 100%;
}

.u-section-1 .u-label-9 {
  font-size: 1.125rem;
  font-weight: 700;
}

.u-section-1 .u-form-group-8 {
  width: 100%;
}

.u-section-1 .u-label-10 {
  font-size: 1.125rem;
  font-weight: 700;
}

.u-section-1 .u-form-group-9 {
  width: 100%;
}

.u-section-1 .u-label-11 {
  font-weight: 700;
}

.u-section-1 .u-form-group-10 {
  width: 100%;
}

.u-section-1 .u-label-12 {
  font-weight: 700;
}

.u-section-1 .u-form-group-11 {
  width: 100%;
}

.u-section-1 .u-btn-1 {
  background-image: none;
}

.u-section-1 .u-image-3 {
  width: 250px;
  height: 250px;
  margin: -873px calc(((100% - 1140px) / 2) + -35px) 0 auto;
}

.u-section-1 .u-image-4 {
  width: 203px;
  height: 203px;
  margin: -226px calc(((100% - 1140px) / 2) + 168px) 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    margin-top: 295px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -7px;
    margin-left: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-1 .u-image-2 {
    margin-top: -89px;
    margin-right: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-1 .u-form-1 {
    width: 570px;
    margin-top: -266px;
    margin-right: calc(((100% - 1140px) / 2) + 486px);
    margin-left: calc(((100% - 1140px) / 2) + 84px);
  }

  .u-section-1 .u-image-3 {
    margin-right: calc(((100% - 940px) / 2) + -35px);
  }

  .u-section-1 .u-image-4 {
    margin-right: calc(((100% - 940px) / 2) + 168px);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-1 .u-image-2 {
    margin-right: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-1 .u-form-1 {
    margin-right: calc(((100% - 1140px) / 2) + 376px);
    margin-left: calc(((100% - 1140px) / 2) + 194px);
  }

  .u-section-1 .u-image-3 {
    margin-right: calc(((100% - 720px) / 2) + -35px);
  }

  .u-section-1 .u-image-4 {
    margin-right: calc(((100% - 720px) / 2) + 168px);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    margin-top: 321px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -33px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-1 .u-image-2 {
    margin-right: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-1 .u-form-1 {
    width: 540px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
    margin-right: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-1 .u-image-3 {
    margin-right: calc(((100% - 540px) / 2) + -35px);
  }

  .u-section-1 .u-image-4 {
    margin-right: calc(((100% - 540px) / 2) + 168px);
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 1779px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 138px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 16px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 340px;
    margin-top: 919px;
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-form-1 {
    width: 340px;
    margin-top: -1508px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
    margin-right: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-image-3 {
    margin-top: -603px;
    margin-right: calc(((100% - 340px) / 2) + -35px);
  }

  .u-section-1 .u-image-4 {
    margin-right: calc(((100% - 340px) / 2) + 137px);
  }
}