 .u-section-1 {
  background-image: url("images/custform.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1596px;
}

.u-section-1 .u-form-1 {
  height: 996px;
  margin: 434px 403px 0 0;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-label-1 {
  font-size: 1.25rem;
}

.u-section-1 .u-label-2 {
  font-size: 1.25rem;
}

.u-section-1 .u-label-3 {
  font-size: 1.25rem;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-label-4 {
  font-size: 1.25rem;
  font-weight: 400;
  width: 500px;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-label-5 {
  font-size: 1.25rem;
  font-weight: 400;
  width: 500px;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-label-6 {
  font-size: 1.25rem;
  font-weight: 400;
  width: 500px;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

.u-section-1 .u-label-7 {
  font-size: 1.25rem;
  font-weight: 400;
  width: 500px;
}

.u-section-1 .u-label-8 {
  font-size: 1.25rem;
  font-weight: 400;
  width: 500px;
}

.u-section-1 .u-form-group-7 {
  margin-left: 0;
}

.u-section-1 .u-label-9 {
  font-size: 1.25rem;
  font-weight: 400;
  width: 500px;
}

.u-section-1 .u-form-group-8 {
  margin-left: 0;
}

.u-section-1 .u-label-10 {
  font-size: 1.25rem;
  font-weight: 400;
  width: 500px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-weight: 700;
  border-style: solid;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  background-image: none;
  margin: 41px 413px 52px auto;
  padding: 15px 23px 16px;
}

.u-section-1 .u-icon-1 {
  font-size: 1.5em;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1316px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 203px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 213px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1008px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 756px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 476px;
  }
}