 .u-section-1 {
  background-image: url("images/oppserror.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 645px;
}

.u-section-1 .u-btn-1 {
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-shadow: 0 0 0 rgba(0,0,0,0);
  font-size: 1.125rem;
  background-image: none;
  border-style: solid;
  margin: 354px auto 60px 138px;
  padding: 22px 127px 24px 126px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 532px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
    padding: 10px 54px 10px 52px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 407px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 305px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 192px;
  }
}