 .u-section-1 {
  background-image: url("images/updatecustomerdetails1.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 593px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  background-image: none;
  margin: 76px 407px 0 auto;
  padding: 15px 23px 16px;
}

.u-section-1 .u-icon-1 {
  font-size: 1.5em;
}

.u-section-1 .u-form-1 {
  height: 322px;
  margin: 75px 404px 0 0;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-label-1 {
  font-size: 1.25rem;
  font-weight: 400;
  width: 128px;
}

.u-section-1 .u-label-2 {
  font-size: 1.25rem;
  font-weight: 400;
  width: 128px;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-label-3 {
  font-size: 1.25rem;
  font-weight: 400;
  width: 128px;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-label-4 {
  font-size: 1.25rem;
  font-weight: 400;
  width: 128px;
}

.u-section-1 .u-label-5 {
  width: 128px;
  font-size: 1.25rem;
  font-weight: 400;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  font-weight: 700;
  border-style: solid;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  background-image: none;
  margin: -60px auto 40px;
  padding: 2px 15px 4px 14px;
}

.u-section-1 .u-icon-2 {
  font-size: 1.5em;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 489px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 207px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 204px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 375px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-1 .u-form-1 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 281px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 177px;
  }
}